.panel-heading {
    padding: 1px 15px;
}

.panel-title {
    font-size: 14px;
}

.panel {
	margin-bottom: 10px;
}

.panel-body {
	padding: 5px 20px;
}

.fadeInTransition-enter {
  opacity: 0.01;
}

.fadeInTransition-enter.fadeInTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeInTransition-leave {
  opacity: 1;
}

.fadeInTransition-leave.fadeInTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.messageText {
	white-space: pre;
}

.comments {
	margin-top: 1em;
}

.messageControls {
	position: absolute;
	right: 20px;
}

.commentControls {
	position: absolute;
	right: 40px;
}

.messageControl {
		margin-right: 5px;
	}


